# [Search the IDDAS](https://fair-ease-iddas.maris.nl/)

The Interdisciplinary Data Discovery & Access Service (IDDAS) is a service that allows you to search for data across multiple disciplines.

## setup
below functions are needed to setup the sparql template and querying support

The endpoint is hard-coded in the python code

In [5]:
from datetime import date
from enable_sparql import execute_to_df, generate_sparql

Options: 
- **searchTerm**: filter by search term (Default: null)
- **startDate**: filter by start date (Default: null)
- **endDate**: filter by end date (Default: null)
- **parameter**: filter by parameter (Default: null)
- **catalog**: filter by catalog (Default: null)
- **mediaType**: filter by media type (Default: null)
- **nb, eb, sb, wb**: filter by polygon (Default: null)
- **limit**: limit to apply to the query (Default: null)
- **offset**: offset to apply to the query (Default: null)

In [2]:
# Count the number of triples in the dataset
execute_to_df("iddas.sparql", count=True)

   count
0  32275

In [3]:
# Get the 3 triples starting at the 10th triple in the dataset
execute_to_df("iddas.sparql", limit=3, offset=10)

,title,mediaType,dataset,description,bbox,cleanCatalog
0,APEX Profiling Float - platform 1901514 - cycl...,https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/argo/r...,APEX Profiling Float - 1901514 - Argo PMEL - c...,POINT (44.639999389648 1.625),https://data.blue-cloud.org/search/dcat/argo
1,"EMSO Western Ligurian : Albatross mooring, AQU...",https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/emso/r...,The European Multidisciplinary Seafloor and wa...,"POLYGON ((6.0500001907349 42.791000366211, 6.0...",https://data.blue-cloud.org/search/dcat/emso
2,SOLO II Profiling Float 8491 - platform 190184...,https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/argo/r...,SOLO II Profiling Float 8491 - 1901843 - Argo ...,POINT (65.653457641602 -14.110600471497),https://data.blue-cloud.org/search/dcat/argo

In [4]:
# Get all the triples in the dataset with a filter search term of "Salinity"
execute_to_df("iddas.sparql", searchTerm="Salinity")

,title,dataset,description,bbox,cleanCatalog,mediaType
0,Baltic Sea - Eutrophication and Acidity aggreg...,https://essi-lab.eu/dab/fair-ease/dataset/7e3f...,EMODnet Chemistry aims to provide access to ma...,"POLYGON((\n9.0 53.7, 30.3 53.7, 30.3 65.9, 9.0...",https://essi-lab.eu/dab/fair-ease/catalog/emod...,NaN
1,"EMSO-Azores, SeaMoN East : Temperature (°C) an...",https://data.blue-cloud.org/search/dcat/emso/r...,This dataset contains temperature (°C) and dis...,"POLYGON ((-32.279998779297 37.299999237061, -3...",https://data.blue-cloud.org/search/dcat/emso,https://www.iana.org/assignments/media-types/a...
2,North East Atlantic Ocean - Eutrophication and...,https://essi-lab.eu/dab/fair-ease/dataset/d197...,EMODnet Chemistry aims to provide access to ma...,"POLYGON((\n-42.0 24.3, -0.5 24.3, -0.5 48.0, -...",https://essi-lab.eu/dab/fair-ease/catalog/emod...,NaN
3,Temperature and salinity data from Kongsfjorde...,https://data.blue-cloud.org/search/dcat/sios/r...,As part of the KROP - Kongsfjorden Rijpfjorden...,"POLYGON ((11.348799705505 78.986297607422, 11....",https://data.blue-cloud.org/search/dcat/sios,https://www.iana.org/assignments/media-types/a...
4,Temperature and salinity data from Kongsfjorde...,https://data.blue-cloud.org/search/dcat/sios/r...,As part of the KROP - Kongsfjorden Rijpfjorden...,"POLYGON ((11.759300231934 78.962600708008, 11....",https://data.blue-cloud.org/search/dcat/sios,https://www.iana.org/assignments/media-types/a...
...,...,...,...,...,...,...
695,Multi Observation Global Ocean 3D Temperature ...,https://essi-lab.eu/dab/fair-ease/dataset/3434...,'''Short description:'''You can find here the ...,"POLYGON((\n-180.0 -90.0, 180.0 -90.0, 180.0 90...",https://essi-lab.eu/dab/fair-ease/catalog/wekeo,NaN
696,Potential spawning areas for European flounder...,https://essi-lab.eu/dab/fair-ease/dataset/73ac...,Essential fish habitat (EFH) map on Potential ...,"POLYGON((\n8.857421278953552 53.6985167875425,...",https://essi-lab.eu/dab/fair-ease/catalog/emod...,NaN
697,Global Ocean Physics Analysis and Forecast,https://essi-lab.eu/dab/fair-ease/dataset/D3E9...,'''Short description'''The Operational Mercato...,"POLYGON((\n-180.0 -90.0, 180.0 -90.0, 180.0 90...",https://essi-lab.eu/dab/fair-ease/catalog/wekeo,NaN
698,Atlantic - European North West Shelf - Ocean P...,https://essi-lab.eu/dab/fair-ease/dataset/A595...,'''Short description:'''The low resolution oce...,"POLYGON((\n-180.0 -90.0, 180.0 -90.0, 180.0 90...",https://essi-lab.eu/dab/fair-ease/catalog/wekeo,NaN
699,Atlantic - European North West Shelf - Ocean P...,https://essi-lab.eu/dab/fair-ease/dataset/665A...,'''Short description:'''The low resolution oce...,"POLYGON((\n-180.0 -90.0, 180.0 -90.0, 180.0 90...",https://essi-lab.eu/dab/fair-ease/catalog/wekeo,NaN

In [5]:
# Get 5 triples in the dataset with a filter a startDate of "2018-01-01" and endDate of "2020-01-01"
import datetime
start_date = datetime.date(2018, 1, 1)
end_date = datetime.date(2020, 1, 1)
execute_to_df("iddas.sparql", limit=5, startDate=start_date, endDate=end_date)

,title,mediaType,dataset,description,bbox,cleanCatalog
0,SOLO II Profiling Float SBE - platform 1901832...,https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/argo/r...,SOLO II Profiling Float SBE - 1901832 - Argo S...,POINT (39.695289611816 -49.740371704102),https://data.blue-cloud.org/search/dcat/argo
1,SOLO II Profiling Float SBE - platform 1901831...,https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/argo/r...,SOLO II Profiling Float SBE - 1901831 - Argo S...,POINT (48.112770080566 -43.226409912109),https://data.blue-cloud.org/search/dcat/argo
2,0856 - platform 1902198 - cycle 12,https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/argo/r...,0856 - 1902198 - Argo PMEL - cycle 12,POINT (66.838996887207 -1.3359999656677),https://data.blue-cloud.org/search/dcat/argo
3,SOLO II Profiling Float SBE - platform 1901800...,https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/argo/r...,SOLO II Profiling Float SBE - 1901800 - Argo S...,POINT (84.779479980469 -51.900310516357),https://data.blue-cloud.org/search/dcat/argo
4,SOLO Profiling Float 7390 - platform 1901829 -...,https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/argo/r...,SOLO Profiling Float 7390 - 1901829 - Argo WHO...,POINT (2.6692700386047 -30.729099273682),https://data.blue-cloud.org/search/dcat/argo

In [6]:
# Get 5 triples in the dataset with a filter a parameter of "pCO2" and catalog of "http://data.blue-cloud.wip/search/dcat/icos"
execute_to_df("iddas.sparql", limit=5, parameter="pCO2", catalog="http://data.blue-cloud.wip/search/dcat/icos")

Empty DataFrame
Columns: []
Index: []

In [7]:
# Get 5 triples in the dataset with a filter a bounding box of -40,40,-40,40
execute_to_df("iddas.sparql", limit=5, sb=-40, nb=40, wb=-40, eb=40)

,title,mediaType,dataset,description,bbox,cleanCatalog
0,Sample SAMEA114714245 study PRJEB70492,https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/elixir...,Transcriptome (RNA-seq) of Tilapia (Sarotherod...,POINT (-16.5024543239965 13.682381358952252),https://data.blue-cloud.org/search/dcat/elixir
1,SOLO Profiling Float 7353 - platform 1901817 -...,https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/argo/r...,SOLO Profiling Float 7353 - 1901817 - Argo WHO...,POINT (9.7499704360962 -22.025970458984),https://data.blue-cloud.org/search/dcat/argo
2,SOLO2IR_SBE_7202 - platform 1901730 - cycle 236,https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/argo/r...,SOLO2IR_SBE_7202 - 1901730 - Argo WHOI - cycle...,POINT (-35.403858184814 28.054929733276),https://data.blue-cloud.org/search/dcat/argo
3,"Med Sea, Cretan Sea, NRT in situ Observations",https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/emso/r...,Med Sea - Cretan Sea - Near Real Time (NRT) in...,"POLYGON ((25.142499923706 35.738201141357, 25....",https://data.blue-cloud.org/search/dcat/emso
4,"EMSO-Azores, BOREL : Meteorological unit 1 dat...",https://www.iana.org/assignments/media-types/a...,https://data.blue-cloud.org/search/dcat/emso/r...,This dataset contains the meteorological param...,"POLYGON ((-32.275001525879 37.289001464844, -3...",https://data.blue-cloud.org/search/dcat/emso

In [7]:
# Get all datasets and export to csv
df = execute_to_df("./sparql_requests/iddas_to_csv.sparql")
df.to_csv(f"{date.today()}-iddas-dataset-list.csv", index=False, encoding="utf-8")