# IDDAS Information

## setup
below functions are needed to setup the sparql template and querying support

The endpoint is hard-coded in the python code

In [1]:
from enable_sparql import execute_to_df, generate_sparql

All requests give us information about IDDAS:
- Property and type list
- Number of datasets, distributions, download URL and media type

This request shows us all the properties used in IDDAS and how many use.

In [2]:
execute_to_df('./sparql_requests/all_props.sparql')

                                             property   count
0     http://www.w3.org/1999/02/22-rdf-syntax-ns#type  153066
1                http://purl.org/dc/terms/description   52756
2                             https://schema.org/name   50609
3                 https://schema.org/variableMeasured   50609
4                      http://www.w3.org/ns/prov#used   50080
5                      http://purl.org/dc/terms/title   48206
6              http://www.w3.org/ns/dcat#distribution   24818
7             http://www.w3.org/ns/dcat#accessService   24653
8                   http://www.w3.org/ns/dcat#dataset   23903
9             http://www.w3.org/ns/dcat#servesDataset   22689
10                   http://purl.org/dc/terms/creator   22600
11                 http://purl.org/dc/terms/publisher   21042
12                http://www.w3.org/ns/dcat#mediaType   21042
13                   http://purl.org/dc/terms/spatial   16637
14                     http://www.w3.org/ns/dcat#bbox   16637
15                  http://purl.org/dc/terms/temporal   12757
16                http://www.w3.org/ns/dcat#startDate   12755
17                  http://www.w3.org/ns/dcat#endDate   12748
18                    http://www.w3.org/ns/dcat#theme    7775
19                    http://purl.org/dc/terms/issued    4734
20                http://www.w3.org/ns/dcat#accessURL    3603
21                http://purl.org/dc/terms/identifier    3072
22              http://www.w3.org/ns/dcat#endpointURL    2115
23      http://www.w3.org/ns/dcat#endpointDescription     425
24      http://www.w3.org/2004/02/skos/core#prefLabel     215
25              http://www.w3.org/ns/dcat#downloadURL     151
26                http://purl.org/dc/terms/conformsTo      85
27       http://www.w3.org/2000/01/rdf-schema#seeAlso      81
28   http://www.w3.org/2000/01/rdf-schema#isDefinedBy      78
29                      http://purl.org/dc/terms/type      56
30               http://www.w3.org/ns/adms#identifier      44
31        http://www.w3.org/2000/01/rdf-schema#domain      43
32         http://www.w3.org/2000/01/rdf-schema#label      42
33         http://www.w3.org/2000/01/rdf-schema#range      42
34            http://purl.org/dc/elements/1.1/creator      40
35               http://purl.org/dc/elements/1.1/date      40
36        http://purl.org/dc/elements/1.1/description      40
37        http://purl.org/dc/elements/1.1/contributor      39
38       http://www.w3.org/2000/01/rdf-schema#comment      39
39     http://www.w3.org/2004/02/skos/core#definition      39
40    http://www.w3.org/2000/01/rdf-schema#subClassOf      35
41  http://www.w3.org/2000/01/rdf-schema#subProper...      16
42              http://www.w3.org/2002/07/owl#imports       4
43             http://purl.org/dc/elements/1.1/source       2
44         http://www.w3.org/2002/07/owl#disjointWith       2
45          http://www.w3.org/ns/hydra/core#firstPage       2
46       http://www.w3.org/ns/hydra/core#itemsPerPage       2
47           http://www.w3.org/ns/hydra/core#lastPage       2
48         http://www.w3.org/ns/hydra/core#totalItems       2
49          http://www.w3.org/2002/07/owl#versionInfo       1

This request shows us all the types used in IDDAS and how many use.

In [3]:
execute_to_df('./sparql_requests/all_types.sparql')

                                                 type    cnt
0                    https://schema.org/PropertyValue  50609
1              http://www.w3.org/ns/dcat#Distribution  24818
2                   http://www.w3.org/ns/dcat#Dataset  23896
3                          https://schema.org/Dataset  23896
4                   http://purl.org/dc/terms/Location  16637
5               http://purl.org/dc/terms/PeriodOfTime  12757
6         http://www.w3.org/2004/02/skos/core#Concept    176
7       http://www.w3.org/2000/01/rdf-schema#Resource     83
8               http://www.w3.org/ns/dcat#DataService     57
9   http://www.w3.org/1999/02/22-rdf-syntax-ns#Pro...     48
10         http://www.w3.org/2000/01/rdf-schema#Class     34
11       http://www.w3.org/2002/07/owl#ObjectProperty     26
12                  http://www.w3.org/ns/dcat#Catalog     11
13     http://www.w3.org/2002/07/owl#DatatypeProperty      8
14      http://www.w3.org/2000/01/rdf-schema#Datatype      3
15                http://www.w3.org/2002/07/owl#Class      3
16  http://www.w3.org/ns/hydra/core#PartialCollect...      2
17    http://www.w3.org/1999/02/22-rdf-syntax-ns#List      1
18             http://www.w3.org/2002/07/owl#Ontology      1

This query tells us the number of datasets.

In [4]:
execute_to_df('./sparql_requests/dataset_count.sparql')

  number_of_datasets
0              13207

This query tells us the number of datasets to be distributed.

In [5]:
execute_to_df('./sparql_requests/distribution_count.sparql')

  number_of_datasets_with_distribution
0                                12019

This query tells us the number of datasets with distribution and download URL.

In [6]:
execute_to_df('./sparql_requests/distribution_with_downloadurl_count.sparql')

  number_of_datasets_with_distribution_with_url
0                                            87

This query tells us the number of datasets with distribution and access URL

In [8]:
execute_to_df('./sparql_requests/distribution_with_accessurl_count.sparql')

  number_of_datasets_with_distribution_with_accessurl
0                                                847

This query tells us the number of datasets with distribution and media type.

In [7]:
execute_to_df('./sparql_requests/distribution_with_mediaType_count.sparql')

  number_of_datasets_with_distribution_with_mediaType
0                                              11172